@model PagedList.IPagedList<BlackieTestMVC.Models.Administration_Unit>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
  ViewBag.Title = "Units";
}

<h2>Units</h2>

@using (Html.BeginForm("Index", "Administration_Unit", FormMethod.Get, new { @class = "form-inline" }))
{
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="col-sm-6">
          <label class="control-label">Name or Description:&nbsp;</label>
          @Html.TextBox("Search_Name", null, new { @class = "form-control input-sm" })
        </div>
        <div class="col-sm-6">
          <label class="control-label">Is Active:&nbsp;</label>
          @Html.DropDownList("Search_IsActive", null, new { @class = "form-control input-sm" })
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <input type="submit" value="Search" class="btn btn-primary" />&nbsp;
      <input type="button" value="Reset" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Administration_Unit") + "'");" />
    </div>
  </div>
}

<div class="col-sm-12" style="height:20px;"></div>

<p>
  @Html.ActionLink("Create New Unit", "Create")
</p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <tr>Total Units: @Model.TotalItemCount</tr>
        <tr>
          <th></th>
          <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstOrDefault().Unit_Name).ToString(), "Index", new { Search_Name = Request["Search_Name"], Search_IsActive = Request["Search_IsActive"], Order = ViewBag.NameSortParm })
          </th>
          <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstOrDefault().Unit_Description).ToString(), "Index", new { Search_Name = Request["Search_Name"], Search_IsActive = Request["Search_IsActive"], Order = ViewBag.DescriptionSortParm })
          </th>
          <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstOrDefault().Unit_CreatedDate).ToString(), "Index", new { Search_Name = Request["Search_Name"], Search_IsActive = Request["Search_IsActive"], Order = ViewBag.CreatedDateSortParm })
          </th>
          <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstOrDefault().Unit_ModifiedDate).ToString(), "Index", new { Search_Name = Request["Search_Name"], Search_IsActive = Request["Search_IsActive"], Order = ViewBag.ModifiedDateSortParm })
          </th>
          <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstOrDefault().Unit_IsActive).ToString(), "Index", new { Search_Name = Request["Search_Name"], Search_IsActive = Request["Search_IsActive"], Order = ViewBag.IsActiveSortParm })
          </th>
        </tr>
        @foreach (var item in Model)
      {
      <tr>
        <td>
          @Html.ActionLink("Details", "Details", new { id = item.Unit_Id }) |
          @Html.ActionLink("Edit", "Edit", new { id = item.Unit_Id })
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Unit_Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Unit_Description)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Unit_CreatedDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Unit_ModifiedDate)
        </td>
        <td>
          @BlackieTestMVC.App_Classes.InfoQuest_All.All_BoolToString((bool)item.Unit_IsActive)
        </td>
      </tr>
      }
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="text-center">
      Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
      @Html.PagedListPager(Model, page => Url.Action("Index", new { Search_Name = Request["Search_Name"], Search_IsActive = Request["Search_IsActive"], Order = ViewBag.CurrentSort, page }))
    </div>
  </div>
</div>